<h1>Create A New landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Landmark Name: </label>

  <p><input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></p>
  <br></br>

  <p><input type="integer" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></p>
  <br></br>

  <input type="submit" value="Edit Landmark" id="Edit Landmark">
</form>
