<h1>Create A New landmark</h1>

<form action="/landmarks" method="POST">
  <label>Name: </label>

  <p><input type="text" name="landmark[name]" id="landmark_name"></p>

  <br></br>
  <h3>Select a Title:</h3>
  <%Title.all.each do |title|%>
    <label><%= title.name %></label>
    <input type="checkbox" name="landmark[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>">
  <%end%><br>


  <label>And/or create new title:</label>
    <input  type="text" name="title[name]" id="new_title"></input>
  <br></br>



  <input type="submit" value="Create New Landmark" id="Create New Landmark">
</form>
<h1>Test</h1>