<h1>Create A New landmark</h1>

<form action="/landmarks" method="POST">
  <label>Landmark Name: </label>

  <p><input type="text" name="landmark[name]" id="landmark_name"></p>
  <br></br>

  <p><input type="integer" name="landmark[year_completed]" id="year_completed"></p>
  <br></br>

  <input type="submit" value="Create New Landmark" id="Create New Landmark">
</form>
