<h2><%= @figure.name %></h2>

<h3>Titles</h3>
<% @figure.titles.each do |title| %>
<p><%= title.name %></p>
<% end %><br>

<h3>Landmarks</h3>
<% @figure.landmarks.each do |landmark| %>
<p><%= landmark.name %></p>
<% end %>